@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: royalblue;
}

body{
    font-family: 'Source Sans Pro', sans-serif;
    height: 100vh;
}

#root{
    height: 100%;
}
